
<html>
    <head>
        <script src="{{ asset('/js/jquery1.7.js') }}"
        type="text/javascript"></script>
        <script src="{{ asset('/js/frontend.js') }}"
        type="text/javascript"></script>

    </head>
    <body>
        <a id="link" href="{{path('pag1')}}" data="prueba">click</a>
        <div id="cont"></div>

    </body>
</html>

